adapters/mso-openstack-adapters/src/main/resources/wsdl/NetworkAdapterNotify.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. -->
<definitions targetNamespace="http://org.onap.so/networkNotify" name="networkAdapterNotify" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://org.onap.so/networkNotify" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://org.onap.so/networkNotify" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="createNetworkNotification" type="tns:createNetworkNotification"/>

      <xs:element name="createNetworkNotificationResponse" type="tns:createNetworkNotificationResponse"/>

      <xs:element name="deleteNetworkNotification" type="tns:deleteNetworkNotification"/>

      <xs:element name="deleteNetworkNotificationResponse" type="tns:deleteNetworkNotificationResponse"/>

      <xs:element name="queryNetworkNotification" type="tns:queryNetworkNotification"/>

      <xs:element name="queryNetworkNotificationResponse" type="tns:queryNetworkNotificationResponse"/>

      <xs:element name="rollbackNetworkNotification" type="tns:rollbackNetworkNotification"/>

      <xs:element name="rollbackNetworkNotificationResponse" type="tns:rollbackNetworkNotificationResponse"/>
      
       <xs:element name="updateNetworkNotification" type="tns:updateNetworkNotification"/>

      <xs:element name="updateNetworkNotificationResponse" type="tns:updateNetworkNotificationResponse"/>
      
      <xs:complexType name="queryNetworkNotification">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string"/>
          <xs:element name="completed" type="xs:boolean"/>
          <xs:element name="exception" type="tns:msoExceptionCategory" minOccurs="0"/>
          <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
          <xs:element name="networkExists" type="xs:boolean" minOccurs="0"/>
          <xs:element name="networkId" type="xs:string" minOccurs="0"/>
          <xs:element name="neutronNetworkId" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:networkStatus" minOccurs="0"/>
          <xs:element name="vlans" type="xs:int" minOccurs="0" maxOccurs="255"/>
           <xs:element name="subnetIdMap"  minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="255">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryNetworkNotificationResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deleteNetworkNotification">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string"/>
          <xs:element name="completed" type="xs:boolean"/>
          <xs:element name="exception" type="tns:msoExceptionCategory" minOccurs="0"/>
          <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
          <xs:element name="networkDeleted" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteNetworkNotificationResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="rollbackNetworkNotification">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string"/>
          <xs:element name="completed" type="xs:boolean"/>
          <xs:element name="exception" type="tns:msoExceptionCategory" minOccurs="0"/>
          <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rollbackNetworkNotificationResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="createNetworkNotification">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string"/>
          <xs:element name="completed" type="xs:boolean"/>
          <xs:element name="exception" type="tns:msoExceptionCategory" minOccurs="0"/>
          <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
          <xs:element name="networkId" type="xs:string" minOccurs="0"/>
          <xs:element name="neutronNetworkId" type="xs:string" minOccurs="0"/>
          <xs:element name="subnetIdMap"  minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="255">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="rollback" type="tns:networkRollback" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      
       <xs:complexType name="createNetworkNotificationResponse">
        <xs:sequence/>
      </xs:complexType>
      
       <xs:complexType name="updateNetworkNotification">
        <xs:sequence>
          <xs:element name="messageId" type="xs:string"/>
          <xs:element name="completed" type="xs:boolean"/>
          <xs:element name="exception" type="tns:msoExceptionCategory" minOccurs="0"/>
          <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
          <xs:element name="subnetIdMap"  minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="255">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="rollback" type="tns:networkRollback" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateNetworkNotificationResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="networkRollback">
        <xs:sequence>
          <xs:element name="cloudId" type="xs:string" minOccurs="0"/>
          <xs:element name="msoRequest" type="tns:msoRequest" minOccurs="0"/>
          <xs:element name="networkCreated" type="xs:boolean"/>
          <xs:element name="networkId" type="xs:string" minOccurs="0"/>
          <xs:element name="networkStackId" type="xs:string" minOccurs="0"/>
           <xs:element name="networkName" type="xs:string" minOccurs="0"/>
          <xs:element name="networkType" type="xs:string" minOccurs="0"/>
          <xs:element name="networkUpdated" type="xs:boolean"/>
          <xs:element name="neutronNetworkId" type="xs:string" minOccurs="0"/>
          <xs:element name="physicalNetwork" type="xs:string" minOccurs="0"/>
          <xs:element name="tenantId" type="xs:string" minOccurs="0"/>
          <xs:element name="vlans" type="xs:int" nillable="true" minOccurs="0" maxOccurs="255"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="msoRequest">
        <xs:sequence>
          <xs:element name="requestId" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceInstanceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="msoExceptionCategory">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OPENSTACK"/>
          <xs:enumeration value="IO"/>
          <xs:enumeration value="INTERNAL"/>
          <xs:enumeration value="USERDATA"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="networkStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NOTFOUND"/>
          <xs:enumeration value="ACTIVE"/>
          <xs:enumeration value="DOWN"/>
          <xs:enumeration value="BUILD"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="rollbackNetworkNotification">
    <part name="parameters" element="tns:rollbackNetworkNotification"/>
  </message>
  <message name="rollbackNetworkNotificationResponse">
    <part name="parameters" element="tns:rollbackNetworkNotificationResponse"/>
  </message>
  <message name="queryNetworkNotification">
    <part name="parameters" element="tns:queryNetworkNotification"/>
  </message>
  <message name="queryNetworkNotificationResponse">
    <part name="parameters" element="tns:queryNetworkNotificationResponse"/>
  </message>
  <message name="createNetworkNotification">
    <part name="parameters" element="tns:createNetworkNotification"/>
  </message>
  <message name="createNetworkNotificationResponse">
    <part name="parameters" element="tns:createNetworkNotificationResponse"/>
  </message>
  <message name="deleteNetworkNotification">
    <part name="parameters" element="tns:deleteNetworkNotification"/>
  </message>
  <message name="deleteNetworkNotificationResponse">
    <part name="parameters" element="tns:deleteNetworkNotificationResponse"/>
  </message>
   <message name="updateNetworkNotification">
    <part name="parameters" element="tns:updateNetworkNotification"/>
  </message>
  <message name="updateNetworkNotificationResponse">
    <part name="parameters" element="tns:updateNetworkNotificationResponse"/>
  </message>
  <portType name="networkAdapterNotify">
    <operation name="rollbackNetworkNotification">
      <input wsam:Action="http://org.onap.so/notify/adapterNotify/rollbackNetworkNotificationRequest" message="tns:rollbackNetworkNotification"/>
      <output wsam:Action="http://org.onap.so/notify/adapterNotify/rollbackNetworkNotificationResponse" message="tns:rollbackNetworkNotificationResponse"/>
    </operation>
    <operation name="queryNetworkNotification">
      <input wsam:Action="http://org.onap.so/notify/adapterNotify/queryNetworkNotificationRequest" message="tns:queryNetworkNotification"/>
      <output wsam:Action="http://org.onap.so/notify/adapterNotify/queryNetworkNotificationResponse" message="tns:queryNetworkNotificationResponse"/>
    </operation>
    <operation name="createNetworkNotification">
      <input wsam:Action="http://org.onap.so/notify/adapterNotify/createNetworkNotificationRequest" message="tns:createNetworkNotification"/>
      <output wsam:Action="http://org.onap.so/notify/adapterNotify/createNetworkNotificationResponse" message="tns:createNetworkNotificationResponse"/>
    </operation>
    <operation name="deleteNetworkNotification">
      <input wsam:Action="http://org.onap.so/notify/adapterNotify/deleteNetworkNotificationRequest" message="tns:deleteNetworkNotification"/>
      <output wsam:Action="http://org.onap.so/notify/adapterNotify/deleteNetworkNotificationResponse" message="tns:deleteNetworkNotificationResponse"/>
    </operation>
     <operation name="updateNetworkNotification">
      <input wsam:Action="http://org.onap.so/notify/adapterNotify/updateNetworkNotificationRequest" message="tns:updateNetworkNotification"/>
      <output wsam:Action="http://org.onap.so/notify/adapterNotify/updateNetworkNotificationResponse" message="tns:updateNetworkNotificationResponse"/>
    </operation>
  </portType>
  <binding name="MsoNetworkAdapterAsyncImplPortBinding" type="tns:networkAdapterNotify">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="rollbackNetworkNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryNetworkNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNetworkNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteNetworkNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateNetworkNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="networkAdapterNotify">
    <port name="MsoNetworkAdapterAsyncImplPort" binding="tns:MsoNetworkAdapterAsyncImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

